* {
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  
  /* navbar */
  nav {
    display: flex;
    background-image: linear-gradient(black, gray);
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  nav h1 {
    padding-top: 15px;
    padding-left: 30px;
    font-size: 30px;
  }
  .nav {
    display: flex;
    width: 400px;
  }
  h3 {
    padding: 20px;
    border-radius: 15px;
  }
  h3:hover {
    background-image: linear-gradient(green, darkblue);
  }
  a {
    color: aqua;
  }
  
  /* banner */
  .banner {
    display: flex;
    height: 95vh;
    background-size: cover;
    background-position: center;
  }
  .banner h1 {
    display: flex;
    flex-direction: column;
    color: aqua;
    padding: 50px;
    margin: auto;
    border: 1px solid;
    border-radius: 30px;
    background-color: rgba(68, 145, 145, 0.247);
  }
  .banner i {
    margin-left: 120px;
  }
  .badboy {
    background-image: url(/gambar/badboy2.jpg);
  }
  .nfs {
    background-image: url(/gambar/nfs2.jpg);  
  }
  .spider {
      background-image: url(/gambar/spider2.jpg);
  }
  .titanic {
      background-image: url(/gambar/titanic2.jpg);
  }
  .train {
      background-image: url(/gambar/train2.jpg)
  }
  .clara {
      background-image: url(/gambar/clara2.jpg);
  }
  .what {
    background-image: url(/gambar/what2.jpg);
  }
  .luca {
    background-image: url(/gambar/luca2.jpg);
  }
  .monster {
    background-image: url(/gambar/monters2.jpg);
  }
  .mulan {
    background-image: url(/gambar/mulan2.jpg)
  }
  .peterpan {
    background-image: url(/gambar/peterpan2.jfif);
  }
  .raya {
    background-image: url(/gambar/raya2.jpg);
  }
  .soul {
    background-image: url(/gambar/soul2.jpeg);
  }
  .frozen {
    background-image: url(/gambar/frozen2.jfif);
  }
  .nemo {
    background-image: url(/gambar/nemo2.jpg);
  }
  
  /* deskripsi */
  .deskripsi {
    padding: 30px;
  }
  
  /* trailer */
  .trailer {
    padding: 30px;
  }
  iframe {
    margin-top: 20px;
    width: 100%;
    height: 85vh;
  }
  
  /* filmlain */
  .filmlain {
    padding: 30px;
  }
  .box {
    display: flex;
    justify-content: space-between;
  }
  .box img {
    height: 360px;
    width: 260px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px aqua;
  }
  .box img:hover {
    transform: translateY(-5%);
    transition: 0.7s;
  }
  
  /* footer */
  footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    background-image: linear-gradient(white, black);
    color: aqua;
  }
  